<!DOCTYPE html>
<html>
<head>
	<title>Test</title>
	<link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
	<h1>Datos del Usuario</h1>
	<form method = "POST" action="/api/v1/usuarios">
		<input type="text" name="username"/>
		<input type="text" name="user"/>
	    <input type="password" name="password"/>
		<button>Guardar</button>
	</form>
	<button type="button" action="/api/v1/Ingresar>Ingresar</button>
</body>
</html>