<!DOCTYPE html>
<html>
<head>
	<title>Lista de conexiones</title>
	<link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
	<h1>Users</h1>
	<ul>
		<% for(var i=0; i<usuarios.length; i++) {%>
			<li><%= usuarios[i] %></li>
		<% } %>
	</ul>

	<script src="/main.js"></script>
</body>
</html>